/* multiple choice containers */
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(250, 146, 251);
    background: #e0d9f6;
}

/* hover effect for the choice containers */
.choice-container:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(250, 146, 251, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: #a653f5;
}

/* text inside the choice containers */
.choice-text {
    padding: 1.5rem;
    width: 100%;
}

/* for JS to apply the class to correct and incorrect answers */
.correct {
    background-color: #65b8bf;
}

.incorrect {
    background-color: #FFB845;
}

/* hud */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}