/* Styles the ul used for the high scores */
#highScoresList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}

.highscore:hover {
    transform: scale(1.25);
}