/* main body style rules */
:root {
    background-color: #f2edeb;
    /* 10px makes a reference for rems */
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    font-family:'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    color: #3a3a3a;
}

/* headings */

h1{
    font-size: 5.4rem;
    color: #f05365;
    margin-bottom: 5rem;
}

h1 > span {
    font-size: 2.4rem;
    font-weight: 500;
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3{
    font-size: 2.8rem;
    font-weight: 500;

}

/* container style rules */

.container {
    width: 100vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* responsiveness */
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* buttons */

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #f05365;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #f05365;
    background-color: white;
}

/* mouse over button hover effect */
.btn:hover {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(240, 83, 101, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* disables pointed when mouse over isnt allowed */
.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}
